.app{
    min-height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
}
/* Eliminar márgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegurar que el body ocupe toda la pantalla */
html, body {
    width: 100%;
    height: 100%;
    background-color: black; /* Mantener el fondo negro */
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}
.filters-container {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Espacio entre el input y el select */
    margin-top: 20px; /* Separación del encabezado */
}

/* Opcional: Asegurar que input y select sean responsivos */
.input, .selects {
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

