.character-detail{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  background-color: #d4af37;
  padding: 20px;
  border-radius: 8px;
  width: fit-content; /* El ancho se ajusta al contenido */
  margin: 20px auto;
}
.character-detail img {
  width: 210px;
  height: 290px;
  border-radius: 8px;
}
.character-detail .info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaciado entre las líneas de texto */
  font-size: 16px;
  color: #000;
}
.home-button {
  display: inline-block;
  background-color: #530505;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 15px;
}

.home-button:hover {
  background-color: #000000;
}