.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 34px;
    flex-wrap: wrap; /* Asegura que en pantallas pequeñas no se desborde */
}
.input {
    width: 300px; /* Fija un ancho adecuado */
    max-width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6d1b00, #2e0000);
    color: #ffd700;
    font-size: 18px;
    font-family: 'Harry Potter', sans-serif;
    border-radius: 8px;
    border: 2px solid #ffd700;
    outline: none;
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.input:hover {
    background: linear-gradient(135deg, #822000, #3a0000);
    border-color: #fff000;
    box-shadow: 0 5px 20px rgba(255, 215, 0, 0.8);
}


/*Css para el selector de HouseFilter.jsx*/
.selects {
    appearance: none;
    width: 215px;
    padding: 10px;
    background: linear-gradient(135deg, #6d1b00, #2e0000);
    color: #a87b08;
    font-size: 18px;
    font-family: 'Harry Potter', sans-serif;
    border-radius: 8px;
    border: 2px solid #000000;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.selects:hover {
    background: linear-gradient(135deg, #822000, #3a0000);
    border-color: #fff000;
    box-shadow: 0 5px 20px rgba(255, 215, 0, 0.8);
}

.selects:focus {
    border-color: #ffcc00;
    box-shadow: 0 0 15px rgba(255, 215, 0, 1);
}
