.filters-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    margin-top: 20px; 
}
.input {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    appearance: none;
    background: linear-gradient(135deg, #6d1b00, #2e0000); /* Fondo con tonos de Gryffindor */
    color: #ffd700;
    font-size: 20px;
    font-family: 'Harry Potter', sans-serif; /* Usa una fuente mágica */
    padding: 10px 50px 10px 15px;
    border-radius: 8px;
    border: 2px solid #ffd700;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.input:hover {
    background: linear-gradient(135deg, #822000, #3a0000);
    border-color: #fff000;
    box-shadow: 0 5px 20px rgba(255, 215, 0, 0.8);
}


/*Css para el selector de HouseFilter.jsx*/
.selects {
    appearance: none;
    background: linear-gradient(135deg, #6d1b00, #2e0000); /* Fondo con tonos de Gryffindor */
    color: #ffd700;
    font-size: 20px;
    font-family: 'Harry Potter', sans-serif; /* Usa una fuente mágica */
    padding: 10px 50px 10px 15px;
    border-radius: 8px;
    border: 2px solid #ffd700;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.selects:hover {
    background: linear-gradient(135deg, #822000, #3a0000);
    border-color: #fff000;
    box-shadow: 0 5px 20px rgba(255, 215, 0, 0.8);
}

.selects:focus {
    border-color: #ffcc00;
    box-shadow: 0 0 15px rgba(255, 215, 0, 1);
}
