.input {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(145, 255, 0, 0.5);
}

.selects {
    color: black;
    font-size: 16px;
    padding: 8px;
    border-radius: 15px;
}
